---
title: Index
layout: main
---

<h1 id='be_a_role_model'>You would make an awesome speaker</h1>

<p>I created this site to <a href="/2012/06/10/be-a-role-model.html">motivate you</a> to become a tech speaker, and to provide <a href="/for_speakers/">resources</a> for you to be great at it. I hope you find it useful!</p>

<p align="right"> — <em>Tiffany</em> </p>

<h2 id="further-reading-for-speakers">Articles to help and motivate you</h2>

{% include list_of_pages_for_speakers.html %}

<h2 id="further-reading-for-curators">Resources for curators</h2>

<p>Are you a conference or user group organizer who wants to encourage new speakers? Check out our <a href="/for_curators/">curator resources</a>.</p>

<h2 id="waaa-blog">We Are All Awesome blog posts</h2>

{% include list_of_blog_posts.html %}
